/* styles.css */
#trendingTvPreview, #trendingPeoplePreview {
  width: 100%;
  overflow-x: auto;
}

.trendingPreview-movieList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: max-content;
}

.movie-container {
  flex: 0 0 auto;
  width: 5%; /* Ajusta el ancho al 20% para mostrar 5 elementos a la vez */
  box-sizing: border-box;
  padding: 10px;
}

.movie-img {
  width: 100%;
  border-radius: 8px;
}
